---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Zenex Plus | Services">
  <section>
    <h1>Services</h1>
    <ol>
      <li>
        <strong>Career Coaching:</strong> Programmes designed to help graduates and students secure
        jobs in international companies. The services are structured, tailor-made, and offered
        one-on-one.
      </li>
      <li>
        <strong>Start-up Networks:</strong> We provide students access to a large network of UK
        start-up and SME partners. Clients receive news and updates about internship programmes and
        advice on which opportunities best match their goals.
      </li>
      <li>
        <strong>Business Consulting:</strong> We offer information, understanding, and skills for
        international graduates and overseas entrepreneurs who wish to start a business in the UK.
        This support aims to help clients grow a successful business.
      </li>
    </ol>
  </section>
</BaseLayout>
